body {
    height: 100% !important;
    background: #fefefe;
    font-family: 'Tangerine', serif !important;
    font-size: 48px;
}
.great-vibes{
    font-family: 'Great Vibes', cursive;
}
#wrapper {
    height: 100% !important;
}


.fa-btn {
    margin-right: 6px;
}
.divides {
    padding-top:50px;
}
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.no-radius {
    border-radius: 0px !important;
}
a.purple {
  color: rgb(102, 51, 153);  
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/* Buttons */

.main-revolution h2{
    font-size:28px;
    line-height:34px;
}

.main-revolution .great-vibes{
    font-size:20px;
}
a.button.big,
button.big{
    padding:10px 20px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

/*
 *Purple BUtton
*/
.btn-purple { 
  color: #ffffff; 
  background-color: rgb(102, 51, 153);
  border-color: #130269; 
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #130269; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-purple .badge { 
  color: #611BBD; 
  background-color: #ffffff; 
}
/*
 * PURPLE PANEL
*/
.panel-purple {
  border-color: #ddd;
}
.panel-purple > .panel-heading {
  color: #eee;
  background-color: rgb(102, 51, 153);
  border-color: #ddd;
}
.panel-purple > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-purple > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-purple > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #email,
.form-signin #password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(102, 51, 153);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(102, 51, 153);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}
.btn.btn-forgot {
    color:rgb(102, 51, 153);
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(194, 51, 255);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

/************************/
/*    NAVIGATION BAR    */
/************************/
.navbar-inverse {
  background-color: #663399;
  border-color: #4c2673;
}
.navbar-inverse .navbar-brand {
  color: #eaeaea;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #eaeaea;
}
.navbar-inverse .navbar-nav > li > a {
  color: #eee;
}
.navbar-inverse .ul .li.dropdown a {
    color:#efefef ;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4c2673;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #542a7e;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #4c2673;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #4c2673;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #4c2673;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #eee;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4c2673;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #eee;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse .btn-link {
  color: #eee;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #ffffff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444444;
}

/*************************/
/*  BACKGROUND CAROUSEL  */
/*************************/
html {
    position: relative;
    min-height: 100%;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url('../../assets/images/slider/3.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url('../../assets/images/slider/2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*.item:nth-child(3) {
    background: url('../../assets/images/slider/3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
/********************************/
/*   DEFAULT GLOW BOX SHADOW    */
/********************************/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(102, 51, 153, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 51, 153, 0.6);
  outline: 0 none;
}

/*******************************/
/*    GLOBAL ADMIN DASHBOARD   */
/*******************************/
h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;

}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}  

:focus {
    outline: none;
}

.side-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
    border: none;
}
.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
    padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}
.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
    float: right;
}
.side-menu #dropdown > a {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
    min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}
.side-menu #search {
    position: relative;
    z-index: 1000;
}
.side-menu #search .panel-body {
    padding: 0;
}
.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}
.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}
/* Main body section */
.side-body {
    margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
    }

    .side-menu .navbar {
        z-index: 999;
        position: relative;
        height: 0;
        min-height: 0;
        background-color:none !important;
        border-color: none !important;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 300px;
        top: 43px;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        overflow: auto;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle-sidebar {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    .side-menu .navbar-header {
        /* this is probably redundant */
        position: fixed;
        z-index: 3;
        background-color: #f8f8f8;
    }
    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
        margin: 0;
    }
}

/*
 * REVOLUTION SLIDER
*/


/* Revolution Slider */
.full-width-bg{
    margin-left:-5000px;
    margin-right:-5000px;
    padding-left:5000px;
    padding-right:5000px;
}

.boxed-layout .full-width-bg{
    padding-left:30px;
    padding-right:30px;
    margin-left:-30px;
    margin-right:-30px;
}
.tp-banner-container{
    position:relative;
}

.tp-caption.align-right{
    padding-right:30px;
}
.tp-caption a {
    color: #efefef !important;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

.main-revolution h2{
    font-size:48px;
    font-weight:800;
    color:#fff;
    line-height:54px;
    margin:0;
}

.main-revolution p{
    font-size:16px;
    line-height:22px;
    color:#fff;
    margin:0;
}

.main-revolution a.button{
    border-bottom-color:#738497;
    margin:0;
}

.main-revolution .great-vibes + h2{
    margin-top:10px;
}

.main-revolution .great-vibes{
    font-size:36px;
    position:relative;
    display:inline-block;
    color:#fff;
    margin-bottom:0;
}

.main-revolution .great-vibes:before{
    content:'';
    display:block;
    width:40px;
    border-top:1px solid #fff;
    border-color:rgba(255,255,255,.6);
    position:absolute;
    top:50%;
    left:-60px;
}

.main-revolution .great-vibes:after{
    content:'';
    display:block;
    width:40px;
    border-top:1px solid #fff;
    border-color:rgba(255,255,255,.6);
    position:absolute;
    top:50%;
    right:-60px;
}

.tparrows.default{ 
    width: 45px; 
    height: 45px; 
    left:-40px!important;
    cursor: pointer; 
    background:#000; 
    background:rgba(0,0,0,0.6); 
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease; 
    transition: all .3s ease; 
    text-align: center; 
    vertical-align:middle; 
    padding-top:12px; 
    border-radius:3px; 
    -webkit-border-radius:3px; 
    -moz-border-radius:3px;
    top:50%!important;
}

.tparrows.default.tp-rightarrow{
    right:-40px!important;
    left:auto!important;
}

.tp-banner-container:hover .tparrows.default{
    left:20px!important;
    right:auto!important;
}

.tp-banner-container:hover .tparrows.default.tp-rightarrow{
    right:20px!important;
    left:auto!important;
}

.tparrows.default:hover{
    background:rgba(0,0,0,.8);
}

.tparrows.default:before{
    font-family: "Font Awesome";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    color:#fff;
    font-size:24px;
    content: '\f054';
    position:absolute;
    left:50%;
    margin-left:-3px;
}

.tparrows.default.tp-leftarrow:before{
    content: '\f053'; 
    margin-left:-6px;
}
/*
 *Owl Carousel
*/
#owl-slider .item {
    height: 92vh;
    min-height: 420px
}
#owl-slider .item {
    background-size: cover !important;
}
@media only screen and (max-width:780px) {
    .slider-caption {
        font-size: 80%;
        padding-top: 30px
    }
}
.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}


/*
 * MISC
*/
.thumbnail {
    display: block;
    margin-bottom: 30px;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    line-height: 1.42857143;
    -webkit-transition: all .4s;
    transition: all .4s
}
.item-hover {
    padding-bottom: 25px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: translateZ();
    -ms-transform: translateZ();
    transform: translateZ();
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.item-hover .content {
    padding-right: 20px;
    padding-left: 20px
}

.item-hover:hover,
.thumbnail:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
    -webkit-transition-delay: 0!important;
    transition-delay: 0!important;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px)
}
.font-white {
    color: #fff
}

.font-dark {
    color: #000
}

.font-cursive {
    font-family: 'Dancing Script', cursive
}

.font-serif {
    font-family: Volkhov, "Times New Roman", sans-serif;
    font-style: italic
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px
}

/* NOTIFY */
.alert {
padding: 15px;
margin-bottom: 21px;
border: 1px solid transparent;
border-radius: 0;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #3fb618;
  border-color: #4e9f15;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #438912;
}
.alert-success .alert-link {
  color: #e6e6e6;
}
.alert-info {
  background-color: #9954bb;
  border-color: #7643a8;
  color: #ffffff;
}
.alert-info hr {
  border-top-color: #693c96;
}
.alert-info .alert-link {
  color: #e6e6e6;
}
.alert-warning {
  background-color: #ff7518;
  border-color: #ff4309;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #ee3800;
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #ff0039;
  border-color: #f0005e;
  color: #ffffff;
}
.alert-danger hr {
  border-top-color: #d60054;
}
.alert-danger .alert-link {
  color: #e6e6e6;
}
.alert-purple {
  background-color: rgb(102, 51, 153);
  border-color: rgb(102, 51, 153);
  color: #ffffff;
}
.alert-purple hr {
  border-top-color: rgb(102, 51, 153);  
}
.alert-purple .alert-link {
  color: #e6e6e6;
}

table#employees-table .table thead tr th {
    background-color:  rgb(102, 51, 153) !important;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.xs-gutter > [class*='col-'] {
    padding-right:2;
    padding-left:2;
}